html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-bg-color;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  font-family: $small-font;
  margin-top: 10px;
  max-width: 1000px; 
  width: 100%; 
  padding: 0 20px; // Add horizontal padding for spacing
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  color: black;
  background-color: $secondary-bg-color;
  // border-bottom: $border-size;
  padding: 20px;
  margin-bottom: 20px;

  h1 {
    font-family: $header-font;
    font-style: italic;
    font-size: pxToRem(30);
    font-weight: 700;
    padding: 15x 0 15px 0;
    // color: rgb(75, 75, 75);
    // text-transform: uppercase;
  }

  
  .cart-icon-container {
    position: relative;

    .cart-link {
      text-decoration: none;
      color: inherit;
      
      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;
      }
  
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $button-hover-bg;
        color: $button-hover-color;
      }
  
      &:active {
        color: inherit;
      }
    }

    .cart-count {
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: rgb(255, 204, 213);
      color: black;
      border-radius: 50%;
      min-width: 20px;
      height: 20px;
      padding: 2px;
      font-family: $small-font;
      font-size: pxToRem(16);
      font-weight: 700;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
    }
  }
}

// -------------------------------
// -------------------------------

.sorting-and-filtering-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 0.5rem; 
  // padding-bottom: 10px;
  // font-size: pxToRem(16);
  // border-bottom: 2px solid black;

  // Reset button
  button {
    border: none;
    padding: $button-padding; 
    background-color: $button-bg; 
    color: $button-color; 
    text-align: center;
    cursor: pointer;
    transition: background-color $button-transition, 
                color $button-transition, 
                box-shadow $button-transition;
  
    &.reset {
      border-radius: $general-border-radius; 
    }            
  
    &:hover {
      background-color: $button-hover-bg;
      color: $button-hover-color;
    }
  
    &:focus {
      outline: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }
  }
  
  .dropdown {
    position: relative;
    background-color: $button-bg;
    // background-color: #fff;
  
    .dropdown-button {
      padding: $button-padding;
      background-color: $button-bg;
      color: $button-color;
      text-align: center;
      cursor: pointer;
      // border-radius: $general-border-radius;
      transition: background-color $button-transition, color $button-transition;

      &:hover {
        background-color: $button-hover-bg;
        color: $button-hover-color;
      }
  
      &:focus {
        // border-radius: none;
        outline: 2px solid rgba(0, 0, 0, 0.5);
        // outline-offset: 2px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
      }
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      background-color: $button-bg;
      border-radius: $general-border-radius;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1;
  
      button {
        width: 100%;
        border: none;
        // border-radius: $general-border-radius;
        padding: $button-padding;
        background-color: $button-bg;
        color: $button-color;
        text-align: left;
        cursor: pointer;
        transition: background-color $button-transition, color $button-transition;

        &:hover {
          background-color: $button-hover-bg;
          color: $button-hover-color;
        }

        &:focus {
          outline: 2px solid rgba(0, 0, 0, 0.5);
          outline-offset: 2px;
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  
    &.show .dropdown-content {
      display: block;
    }
  }

}

// -------------------------------
// -------------------------------

.product-section {
  width: 100%;

  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px 0 10px 0;
  
    .single-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 10px 10px 20px 10px;
      // border: $border-size;
      background-color: $secondary-bg-color;
      border-radius: $general-border-radius;
      font-size: pxToRem(16);

      h2 {
        font-family: $medium-font;
        font-size: pxToRem(16);
      }
    
      button {
        width: 30px;
        // height: 30px;
        border: none;
        border-radius: $general-border-radius;
        font-size: pxToRem(18);
        font-weight: 500;
        background-color: white;

        &:hover {
          background-color: $button-hover-bg;
          color: $button-hover-color;
        }
      }
    
      input {
        text-align: center;
        width: 40px;
        // height: 30px;
        border: none;
        border-radius: $general-border-radius;
        font-size: pxToRem(18);
        font-weight: 400;
      }

      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap; /* Prevent the text from wrapping */
        border: 0;
    }
    
    }
  }

}

// -------------------------------
// -------------------------------

.cart-and-order-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: $secondary-bg-color;
  border-radius: $general-border-radius;
  // border: $border-size;

  button {
    width: fit-content;
    padding: 5px 10px;
    background-color: #fff; 
    color: #000; 
    border: none;
    border-radius: $general-border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      background-color: $button-hover-bg;
      color: $button-hover-color;
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); /* Add a focus ring for accessibility */
    }
  
    &:disabled {
      background-color: $button-disabled-bg; 
      color:  $button-disabled-color; 
      cursor: not-allowed;
    }
  }

  .cart-view,
  .order-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    font-size: pxToRem(18);
  }

  .hidden {
    display: none;
  }

  .order-view {
    form {
      display: flex;
      flex-direction: column;
      row-gap: 3px;
    

      label {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

      }
      
      .input-field-and-msg {
        display: flex;
        gap: 5px;
        // align-items: center;

        .error-message {
          margin-top: 5px;
          font-style: italic;
        }
      }

      input[type="text"],
      input[type="number"],
      input[type="email"] {
        width: $input-width;
        padding: 6px;
        // border: 1px solid #ccc;
        border: none;
        border-radius: $general-border-radius;
        box-sizing: border-box;
        height: 30px;
      }

      input[type="radio"]:disabled + span {
        color: #aaa; 
        cursor: not-allowed; 
      }
      
      .payment-options {
        margin-top: 10px;
        // border: 1px solid #ccc;
        // padding: 15px;
        padding-bottom: 10px;
        border-radius: 5px;
      
        .selector {
          label {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;
          }
        }
      
        .card,
        .invoice {
          margin-top: 15px;
      
          label {
            display: block;
            margin-bottom: 5px;
          }
        }
      
        .card {
          .date-and-cvc {
            label {
              margin-top: 10px;
            }
            input {
              width: 60px;
              padding: 5px;
            }
          }
        }
      
        .invoice-message {
          display: inline-block;
          margin-left: 15px;
          font-style: italic;
        }
      
        .hidden {
          display: none;
        }
      }
    }
  }

  .cart-view {

    .cart-summary {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    
    .cart-shipping {
      font-style: italic;
    }

    .cart-total {
      font-weight: 700;
    }
  }


  .checkbox-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding-bottom: 10px;
  
    .checkbox-label {
      display: flex;
      flex-direction: row;
      cursor: pointer; 
  
      input[type="checkbox"] {
        margin-right: 10px; 
        transform: scale(1.3); 
        color: black;
      }
    }
  }

}

// -------------------------------
// -------------------------------

footer {
  // width: 100%;
  color: black;
  text-align: center;
  padding: 20px;
  // font-size: pxToRem(16);

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p {
      margin: 0;
      font-size: pxToRem(16);
    }

    .footer-links {
      display: flex;
      gap: 15px;

      .footer-icons {
        color: black; 
        text-decoration: none; 
        font-size: pxToRem(30); 
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        transition: color 0.3s ease;

        // &::before,
        // &::after {
        //   content: none;
        // }

        &:hover,
        &:focus {
          color: rgb(215, 225, 234);
        }

        &:visited {
          color: black; 
        }

        // &:active {
        //   color: darken(rgb(215, 225, 234), 10%); 
        // }

        i {
          pointer-events: none;
          font-size: pxToRem(20);
        }
      }
    }
  }
}
