.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .order-view {
    form {
      label {
        .input-field-and-msg {
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;

          .error-message {
            font-style: italic;
          }
        }
      }
    }
}
